<div align="center">
  <a href="https://github.com/ArvidWedtstein/Fagproove">
    <img src="https://content.energage.com/company-images/SE45893/SE45893_logo_orig.png" alt="Logo" width="200" height="200">
  </a>

  <h3 align="center">Test Report</h3>

  <p align="center">
    <b>Fagprøve</b>
    <br />
    <sub>05.04.24 - 15.04.24</sub>
  </p>
</div>

<details>
  <summary>
    <b>Table of Contents</b>
  </summary>
  <ol>
    <li>
      <a href="#plan-for-testing">Plan for testing</a>
    </li>
    
  </ol>
</details>

<details open>
  <summary>
    <h2>Plan for testing</h2>
  </summary>
  <p>
    Planen er egentlig bare å gå gjennom hovedfunksjonene og teste alt alt fungerer som det skal. 
  </p>
<hr>
</details>


<details open>
  <summary>
    <h3>Hovedside</h3>
  </summary>
  <ol>
    <li>
      <details>
        <summary>Opprette ny quiz</summary>
        <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Sjekket at det er mulig å legge til spørsmål</th>
            <td>Trykket på "Add new question" knappen for å opprette nytt spørsmål</td>
            <td>✅</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/1efc47aa-7b7e-4e6a-87eb-647f3dd324b3" width="200" /></th>
              </table>
            </td>
          </tr>
          <tr>
            <th>Sjekket at det er mulig å legge til svarmuligheter i et spørsmål</th>
            <td></td>
            <td>✅</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/9332f8cf-1a8b-42f0-95be-e46a20ed98bf" width="200" /></th>
              </table>
            </td>
          </tr>
          <tr>
            <th>Sjekket at det er mulig å endre spørsmålstype etter oppretting av spørsmål</th>
            <td></td>
            <td>✅</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/ae81dc14-fb0b-4cb1-a6f1-1aaf766d5e5d" width="200" /></th>
              </table>
            </td>
          </tr>
          <tr>
            <th>Sjekk at det ikke lar seg opprette quiz uten at alle påkrevde felt er utfylt</th>
            <td></td>
            <td>✅</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/77ac8c59-a7a6-4b10-8cd1-d5b3965ea087" width="200" /></th>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/ae1b9f72-a1d4-4b2e-b0a1-7420768f1a4b" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
    <li>
      <details>
        <summary>Redigere quiz</summary>
        <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Prøvde å endre på et svaralternativ og så lagre.</th>
            <td></td>
            <td></td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/9074c339-53a1-4d94-885f-c57a6757d3b4" width="200" /></th>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/b353614e-5729-4548-9294-f8b92afc1c99" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
    <li>
      <details>
        <summary>Slette quiz</summary>
         <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Slettet quiz etter at "ok" ble trykket. </th>
            <td></td>
            <td>✅</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/deaa0b2b-5ce5-4c55-9e5e-f331ff16f5ea" width="200" /></th>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/aabd3c9d-bc19-472a-b06b-2c36e82f0996" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
  </ol>
</details>


<details open>
  <summary>
    <h3>Detail Page</h3>
  </summary>
  <ol>
    <li>
      <details>
        <summary>Test de forskjellige svarmulighetene</summary>
        <ul>
          <li>
            <details>
              <summary>Mulig å svare ved multiselect type</summary>
              <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th>Testet å oppgi svar med flervalgs svarmulighet</th>
                  <td></td>
                  <td>✅</td>
                  <td>
                    <table>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/425bfd83-65b2-448a-9913-b5c41544bf09" width="200" /></th>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/6483a1e5-ad30-478f-88b4-56d6a716f819" width="200" /></th>
                    </table>
                  </td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Mulig å svare ved radio type</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th>Testet å oppgi svar med radio type</th>
                  <td></td>
                  <td>✅</td>
                  <td>
                    <table>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/44140bb5-e980-4f27-bbd0-4c2f1a24378b" width="200" /></th>
                    </table>
                  </td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Mulig å svare ved dato type</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th>Testet å oppgi svar med dato</th>
                  <td></td>
                  <td>✅</td>
                  <td>
                    <table>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/bf393b5f-8c48-46e4-b893-84fe309922d0" width="200" /></th>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/9cd8e271-7fb4-4df0-bf46-718f338de585" width="200" /></th>
                    </table>
                  </td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Mulig å svare ved text type</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th>Testet å oppgi svar med tekst type</th>
                  <td></td>
                  <td>✅</td>
                  <td>
                     <table>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/aa3bff79-15dc-4945-b47c-1c00e2d47c14" width="200" /></th>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/809ee50e-9d7f-4971-b0b2-6309d4aa74e1" width="200" /></th>
                    </table>
                  </td>
                </tr>
              </table>
            </details>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Sjekket at det ikke er mulig å gå til neste spørsmål uten å oppgi svar</summary>
        <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Prøvd å trykke på submit uten å ha oppgitt noe svar</th>
            <td></td>
            <td>Fikk opp feilmelding og siden gikk ikke videre.</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/40f911ed-d858-4e14-a649-c8c04f51ff6b" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
     <li>
      <details>
        <summary>Sjekket at det funker å oppgi felt svar for å så få melding</summary>
        <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Prøvd å oppgi feil svar</th>
            <td></td>
            <td>Fikk opp feilmelding og hva rett svar ville vært</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/0df47414-7f45-4db3-952e-65dfc31a3da7" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
    <li>
      <details>
        <summary>Sjekk at poeng utdeling fungerer (om svaret er rett)</summary>
        <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Gått gjennom alle spørsmålene og svart feil på ett</th>
            <td></td>
            <td>Fikk opp rett antall poeng</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/ccbf2525-8a20-4a7b-a620-d06ac605a0af" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
    <li>
      <details>
        <summary>Sjekk at resetting fungerer</summary>
        <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Trykk på reset (øvre høyre hjørne)</th>
            <td></td>
            <td>Fikk oipp advarsel, og data ble slettet om "yes" ble trykket</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/49c1cc1c-2c94-4d5b-b8bb-b5a20238a8e2" width="200" /></th>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/dae15b15-5b16-4280-9ed3-35e947854b03" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
  </ol>
</details>
