# Testrapport

### Plan for testing

  
<details open>
  <summary><h3>Front Page</h3></summary>

  <table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Resultat</th>
      <th>Bilder</th>
    </tr>
    <tr>
      <td>Kunne opprette quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Form validation ved oppretting av ny quiz</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Kunne redigere quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Kunne slette quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
  </table>
</details>

  
<details open>
  <summary><h3>Insert Title Here</h3></summary>

  <table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Resultat</th>
      <th>Bilder</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
  </table>
</details>


<details open>
  <summary>
    <h3>Front Page</h3>
  </summary>
  <ol>
    <li>
      <details>
        <summary>Opprette ny quiz</summary>
        <ul>
          <li>
            <details>
              <summary>Sjekket at det er mulig å legge til spørsmål</summary>
              <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Sjekket at det er mulig å legge til svarmuligheter i et spørsmål</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
           <li>
            <details>
              <summary>Sjekket at det er mulig å endre spørsmålstype etter oppretting av spørsmål</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Sjekk at det ikke lar seg opprette quiz uten at alle påkrevde felt er utfylt</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Redigere quiz</summary>
        <ul>
          <li>
             <details>
              <summary>Sjekket at det er mulig å fjerne spørsmål</summary>
              <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Sjekket at lagring funker</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Slette quiz</summary>
        <ul>
          <li>Test1|</li>
        </ul>
      </details>
    </li>
  </ol>
</details>


<details open>
  <summary>
    <h3>Detail Page</h3>
  </summary>
  <ol>
    <li>
      <details>
        <summary>Test de forskjellige svarmulighetene</summary>
        <ul>
          <li>
            <details>
              <summary>Mulig å svare ved multiselect type</summary>
              <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td>
                    <table>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/425bfd83-65b2-448a-9913-b5c41544bf09" width="200" /></th>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/6483a1e5-ad30-478f-88b4-56d6a716f819" width="200" /></th>
                    </table>
                  </td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Mulig å svare ved radio type</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td>
                    <table>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/44140bb5-e980-4f27-bbd0-4c2f1a24378b" width="200" /></th>
                    </table>
                  </td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Mulig å svare ved dato type</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td>
                    <table>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/bf393b5f-8c48-46e4-b893-84fe309922d0" width="200" /></th>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/9cd8e271-7fb4-4df0-bf46-718f338de585" width="200" /></th>
                    </table>
                  </td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Mulig å svare ved text type</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td>
                     <table>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/aa3bff79-15dc-4945-b47c-1c00e2d47c14" width="200" /></th>
                      <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/809ee50e-9d7f-4971-b0b2-6309d4aa74e1" width="200" /></th>
                    </table>
                  </td>
                </tr>
              </table>
            </details>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Sjekket at det ikke er mulig å gå til neste spørsmål uten å oppgi svar</summary>
        <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Prøvd å trykke på submit uten å ha oppgitt noe svar</th>
            <td></td>
            <td>Fikk opp feilmelding og siden gikk ikke videre.</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/40f911ed-d858-4e14-a649-c8c04f51ff6b" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
     <li>
      <details>
        <summary>Sjekket at det funker å oppgi felt svar for å så få melding</summary>
        <table>
          <tr>
            <th>Funksjon</th>
            <th>Beskrivelse</th>
            <th>Resultat</th>
            <th>Bilder</th>
          </tr>
          <tr>
            <th>Prøvd å oppgi feil svar</th>
            <td></td>
            <td>Fikk opp feilmelding og hva rett svar ville vært</td>
            <td>
              <table>
                <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/0df47414-7f45-4db3-952e-65dfc31a3da7" width="200" /></th>
              </table>
            </td>
          </tr>
        </table>
      </details>
    </li>
    <li>
      <details>
        <summary>Sjekk at poeng utdeling fungerer (om svaret er rett)</summary>
        <ul>
          <li></li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Sjekk at resetting fungerer</summary>
        <ul>
          <li></li>
          ![image](https://github.com/ArvidWedtstein/Fagproove/assets/71834553/49c1cc1c-2c94-4d5b-b8bb-b5a20238a8e2)
![image](https://github.com/ArvidWedtstein/Fagproove/assets/71834553/dae15b15-5b16-4280-9ed3-35e947854b03)

        </ul>
      </details>
    </li>
  </ol>
</details>
