# Testrapport

### Plan for testing

  
<details open>
  <summary><h3>Front Page</h3></summary>

  <table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Resultat</th>
      <th>Bilder</th>
    </tr>
    <tr>
      <td>Kunne opprette quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Form validation ved oppretting av ny quiz</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Kunne redigere quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Kunne slette quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
  </table>
</details>

  
<details open>
  <summary><h3>Insert Title Here</h3></summary>

  <table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Resultat</th>
      <th>Bilder</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
  </table>
</details>


<details open>
  <summary>
    <h3>Front Page</h3>
  </summary>
  <ol>
    <li>
      <details>
        <summary>Opprette ny quiz</summary>
        <ul>
          <li>
            <details>
              <summary>Sjekket at det er mulig å legge til spørsmål</summary>
              <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Sjekket at det er mulig å legge til svarmuligheter i et spørsmål</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
           <li>
            <details>
              <summary>Sjekket at det er mulig å endre spørsmålstype etter oppretting av spørsmål</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Sjekk at det ikke lar seg opprette quiz uten at alle påkrevde felt er utfylt</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Redigere quiz</summary>
        <ul>
          <li>
             <details>
              <summary>Sjekket at det er mulig å fjerne spørsmål</summary>
              <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
          <li>
            <details>
              <summary>Sjekket at lagring funker</summary>
               <table>
                <tr>
                  <th>Funksjon</th>
                  <th>Beskrivelse</th>
                  <th>Resultat</th>
                  <th>Bilder</th>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </details>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Slette quiz</summary>
        <ul>
          <li>Test1|</li>
        </ul>
      </details>
    </li>
  </ol>
</details>
