# Testrapport

### Plan for testing

  
<details open>
  <summary><h3>Front Page</h3></summary>

  <table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Resultat</th>
      <th>Bilder</th>
    </tr>
    <tr>
      <td>Kunne opprette quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Form validation ved oppretting av ny quiz</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Kunne redigere quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
    <tr>
      <td>Kunne slette quiz som admin</td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
  </table>
</details>

  
<details open>
  <summary><h3>Insert Title Here</h3></summary>

  <table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Resultat</th>
      <th>Bilder</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td> 
        <table>
          <th><img src="" width="60" /></th>
        </table>
      </td>
    </tr>
  </table>
</details>
